<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>사원목록</h2>
	<table>
		<tr>
			<th>employee_id</th>
			<th>first_name</th>
			<th>last_name</th>
			<th>hire_date</th>
			<th>photo</th>
		</tr>
		<tr th:each="emp : ${empList}">
			<td th:text="${emp.employeeId}"></td>
			<td th:text="${emp.firstName}"></td>
			<td th:text="${emp.lastName}"></td>
			<td th:text="${emp.hireDate}"></td>
			<td th:text="${emp.photo}"></td>
		</tr>
	</table>
</body>
</html>