<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>사원수정</h2>
	<!-- [[${emp}]] -->
	<form action="/update" method="post">
		<table>
			<tbody>
				<tr>
					<th>employeeId</th>
					<td><input th:value="${emp.employeeId}" name="employeeId" readonly></td>
				</tr>
				<tr>
					<th>lastName</th>
					<td><input th:value="${emp.lastName}" name="lastName" readonly></td>
				</tr>
				<tr>
					<th>hireDate</th>
					<td><input th:value="${emp.hireDate}" name="${emp.hireDate}" readonly></td>
				</tr>
				<tr>
					<th>jobId</th>
					<td><input th:value="${emp.jobId}" name="${emp.jobId}" readonly></td>
				</tr>
				<tr>
					<th>이메일</th>
					<td><input name="email"></td>
				</tr>
				<tr>
					<td><button>수정</button></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>