<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.emp.mapper.ReplyMapper">
	<select id="getReplyList" resultType="ReplyVO">
		SELECT rno
			   , bno
			   , reply
			   , replyer
			   , replyDate
			   , updateDate 
		 FROM tbl_reply 
		ORDER BY rno desc
	</select>
	
	<insert id="insertReply" parameterType="ReplyVO">
		INSERT INTO tbl_reply(rno
							  , bno
							  , reply
							  , replyer)
		VALUES (
				seq_reply.nextval
				, #{bno}
				, #{reply}
				, #{replyer}
				)
	</insert>

</mapper>