<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<h3>댓글목록</h3>
	<table>
		<thead>
			<tr>
				<th>rno</th>
				<th>bno</th>
				<th>reply</th>
				<th>replyer</th>
				<th>replyDate</th>
				<th>updateDate</th>
			</tr>
		</thead>
		<tbody id="replylist">
			<!-- <tr>
				<td>1</td>
				<td>100</td>
				<td>scott</td>
				<td>2023-10-10</td>
				<td>10000</td>
				<td><button>신청</button><button>미신청</button></td>
				<td><button type="button" onclick="move(100)">조회</button></td>
			</tr> -->
		</tbody>
	</table>
	
	<h3>댓글(등록, 조회)</h3>
	<!-- ajax -->
	<form method="post" name="frm">
		bno<input name="bno">
		<br>reply<input name="reply">
		<br>replyer<input name="replyer">
		<br><button type="button" onclick="saveReq()">등록</button>
	</form>
	
	<script>
	listReq()
	
	// 날짜 포맷
	function dateFormat(dt) {
		let result;
		result = dt // 날짜 형식 변환
		return result;
	}
	
	// 리스트 요청
	function listReq() {
		fetch("/ajax/replyList")
		.then(res => res.json())
		.then(res => listRes(res))
	}
	
	// 리스트 응답
	function listRes(res) {
		replylist.innerHTML = "";
		for( obj of res ) {
			let i = 0;
			let newTag = `<tr>
				<td>${obj.rno}</td>
				<td>${obj.bno}</td>
				<td>${obj.reply}</td>
				<td>${obj.replyer}</td>
				<td>${dateFormat(obj.replyDate)}</td>
				<td>${dateFormat(obj.updateDate)}</td>
			</tr>`	
			replylist.innerHTML += newTag;
		}
	}
	
	
	// 등록
	function saveReq() {
		// 3. JsonString
		const bno=frm.bno.value;
		const reply=frm.reply.value;
		const replyer=frm.replyer.value;
		let param = {bno, reply, replyer}
		fetch("/ajax/reply",{
			method : "post",
			headers: {
			      "Content-Type": "application/json",
			    },
			body : JSON.stringify(param)
		})
		.then(res => res.json())
		.then(res => saveRes(res))
	}		
	
	// 등록 응답
	function saveRes(res) {
		listReq()
	}
	</script>
</div>
</body>
</html>