<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.firstRow{color:yellowgreen;}
	.oddRow{color:cyan;}
	.backColor{background:#eee;}
</style>
</head>
<body>
	<div layout:fragment="content">
		사원수<span th:text="${#lists.size(empList)}">10</span>명 <!--/* list의 전체갯수를 알려줌 */-->
		회사명<span th:utext="${companyName}">허허</span> <!--/* utext -> innerHtml, text -> innerText */-->
		<table>
			<tr>
				<th>No</th>
				<th>employee_id</th>
				<th>name</th>
				<th>hire_date</th>
				<th>salary</th>
				<th>보너스</th>
				<th>수정/삭제</th>
			</tr>
			<tr th:each="emp, stat : ${empList}" > <!--/* <tr th:each="emp, stat : ${empList}"> stat : 상태변수 */-->
				<td th:text="${stat.count}" class="backColor" th:classappend="${stat.first ? 'firstRow' : stat.odd ? 'oddRow' : _ }">1</td>
				<td th:text="${emp.employeeId}">100</td>
				<td th:text="${emp.firstName} + ' ' + ${emp.lastName}">길동</td>
				<!--/* <td th:text="|${emp.firstName} ${emp.lastName}|">길동</td>
				<td> [[ ${emp.firstName} ]] [[ ${emp.lastName} ]] </td> */-->
				<td th:text="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}">2010-10-10</td>
				<td th:text="${#numbers.formatCurrency(emp.salary)}">2,000</td>
				<td>
					<button th:if="${emp.salary < 10000}">신청</button>
					<button th:unless="${emp.salary < 10000}">미신청</button>
				</td>
				<td> <!--/* localhost:8081/update/100 */--> <!--/* @PathVariable  */-->
					<a th:href="@{/update/{id}(id=${emp.employeeId})}">수정</a>
					<!--/* localhost:8081/delete?employeeId=100&name=xxx */--> <!--/* queryString, 파라미터 값이 같아야함 */-->
					<a th:href="@{/delete(employeeId=${emp.employeeId}, name=${emp.firstName})}">삭제</a>
				</td>
			</tr>
		</table>
		<!--/* <div class="footer" th:insert="~{footer}"> */--> <!--/* {폴더명/footer}라면 footer.html을 가져옴 */-->
		<div class="footer" th:replace="~{footer :: copy}"> <!--/* {폴더명/footer}라면 footer.html을 가져옴 */-->
			여기에 삽입
		</div>
	</div>	

	<script th:inline="javascript">
		let emplist = [[${empList}]]
		console.log(emplist[0].firstName);
		
	</script>
</body>
</html>