<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.users.mapper.UsersMapper">
	<select id="getUsersInfo"
			parameterType="string"
			resultType="UsersVO">
		SELECT   userid
			   , '{noop}' || userpw as userpw <!-- 암호화가 안됐음을 알려줌 -->
			   , 'ROLE_' || upper(grade) as grade
		 FROM users
		WHERE userid = #{userid} 
	</select>
	
</mapper>